<!-- Page Navigation -->
<div id="page-nav">
  <div class="page-nav-wrap">
    <div class="page-nav-caption content-full-width text-align-center height-title">
      <div class="inner">
        <div class="next-hero-subtitle caption-timeline"><span>{{ .Params.subtitle }}</span></div>
        <a class="page-title next-ajax-link-page" data-type="page-transition" data-centerline="{{ .Params.centerline }}"
          href="{{ .Params.link }}">
          <div class="next-hero-title primary-font-title caption-timeline"><span>{{ .Params.title }}</span></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--/Page Navigation -->
