<!-- Moving Gallery Partial -->
<div class="content-row full row_padding_bottom dark-section" data-bgcolor="{{ .Site.Params.colors.darkBackground  }}">
  <div class="moving-gallery bw-gallery">
    <ul class="wrapper-gallery">
      {{ range $item := .Params.galleryBackwards }}
      <li class="link">
        <a target="_blank" href="{{ $item.url }}">
          <img src="{{ $item.image | relURL }}" alt="{{ $item.caption }}">
        </a>
        <div class="moving-gallery-caption">{{ $item.caption }}</div>                                          
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="moving-gallery fw-gallery">
    <ul class="wrapper-gallery">
      {{ range $item := .Params.galleryForwards }}
      <li class="link">
        {{if $item.url }} <a target="_blank" href="{{ $item.url }}"> {{ end }}
          <img src="{{ $item.image | relURL }}" alt="{{ $item.caption }}">
        </a>
        <div class="moving-gallery-caption">{{ $item.caption }}</div>                                          
      </li>
      {{ end }}
    </ul>
  </div>
</div>
<!--/Moving Gallery -->
