<!-- Text Section Partial -->
<div class="content-row full row_padding_left row_padding_right {{ if .Params.PaddingTop }} row_padding_top {{ end }} {{ if .Params.PaddingBottom }} row_padding_bottom {{ end }} dark-section" data-bgcolor="{{ .Site.Params.colors.darkBackground  }}">
  <div class="content-max-width">
    {{ if .Params.header }}
    <h2 class="has-mask-fill">{{ .Params.header }}</h5>
    {{ end }}
    
    <div >
      {{ range $paragraph := .Params.paragraphs }}
        <p class="has-animation">{{ $paragraph | safeHTML }}</p>
      {{ end }}
    </div>
  </div>
</div>
<!--/Text Section -->
