<!-- Text Section Partial -->
<div class="content-row full {{ if .Params.PaddingTop }} row_padding_top {{ end }} {{ if .Params.PaddingBottom }} row_padding_bottom {{ end }} dark-section" data-bgcolor="{{ .Site.Params.colors.darkBackground  }}">
  <div class="content-max-width">
    {{ if .Params.header }}
    <div class="one_third">
      <h5>{{ .Params.header }}</h5>
    </div>
    {{ end }}
    
    <div class="{{ if .Params.header }}two_third last{{ else }}full{{ end }}">      {{ range $paragraph := .Params.paragraphs }}
        <p class="has-animation">{{ $paragraph | markdownify }}</p>
      {{ end }}
    </div>
  </div>
</div>
<!--/Text Section -->
