{{ define "main" }}
{{ partial "preloader.html" . }}

<div class="cd-index cd-main-content">

  <!-- Page Content -->
  <div id="clapat-page-content" class="light-content" data-bgcolor="{{ .Site.Params.colors.darkBackground  }}">

    <!-- Header -->
    <header class="fullscreen-menu invert-header" data-menucolor="{{ .Site.Params.colors.darkBackground  }}">
      <div id="header-container">

        {{ partial "logo.html" . }}
        {{ partial "site-title.html" . }}
        {{ partial "menu.html" . }}

      </div>
    </header>
    <!--/Header -->

    <!-- Content Scroll -->
    <div id="content-scroll">

      <!-- Main -->
      <div id="main">
        <div id="main-content">
          <div id="main-page-content" class="content-max-width">
            {{ $aboutSections := where .Site.RegularPages "Section" "about" }}
            {{ range sort $aboutSections "Params.weight" }}
              {{ if .Params.partial }}
                {{ partial .Params.partial . }}
              {{ end }}
            {{ end }}
          </div>
        </div>
        <!--/Main Content -->

      </div>
      <!--/Main -->

      {{ partial "footer.html" . }}
    </div>
    <!--/Content Scroll -->
    <div id="app"></div>
  </div>
  <!--/Page Content -->
</div>
{{ end }}
