{{ define "main" }}
{{ partial "preloader.html" . }}

<div class="cd-index cd-main-content">

  <!-- Page Content -->
  <div id="clapat-page-content" class="light-content" data-bgcolor="{{ .Site.Params.colors.darkBackground  }}">

    <!-- Header -->
    <header class="fullscreen-menu invert-header" data-menucolor="{{ .Site.Params.colors.darkBackground  }}">
      {{ $homeTitleText := "" }}
      {{ $scrollFadeHeight := 1.15 }}
      {{ $iconHeight := 70 }}
      {{ with .Site.GetPage "/home" }}
        {{ $homeTitleText = .Title }}
        {{ if gt .Params.scrollFadeHeight 0 }}
          {{ $scrollFadeHeight = .Params.scrollFadeHeight }}
        {{ end }}
        {{ if gt .Params.iconHeight 0 }}
          {{ $iconHeight = .Params.iconHeight }}
        {{ end }}
      {{ end }}
      
      <div id="header-container">

        {{ partial "logo.html" (dict "iconHeight" $iconHeight) }}
        {{ partial "site-title.html" (dict "Site" .Site "scrollFadeTitle" true "scrollFadeHeight" $scrollFadeHeight "titleText" $homeTitleText) }}
        {{ partial "menu.html" . }}

      </div>
    </header>
    <!--/Header -->

    <!-- Content Scroll -->
    <div id="content-scroll">

      <!-- Main -->
      <div id="main">

        <!-- Main Content -->
        <div id="main-content">
          {{ $homeSections := where .Site.RegularPages "Section" "home" }}
          {{ range sort $homeSections "Params.weight" }}
            {{ if .Params.partial }}
              {{ partial .Params.partial . }}
            {{ end }}
          {{ end }}
        </div>
        <!--/Main Content -->

        </div>
        <!--/Main Content -->

      </div>
      <!--/Main -->

      {{ partial "footer.html" . }}
    </div>
    <!--/Content Scroll -->
    <div id="app"></div>
  </div>
  <!--/Page Content -->
</div>
{{ end }}